.pagination {
    display: flex;
    .loading {
        width: 14px;
        height: 14px;
    }
    .before {
        .loading {
            margin-right: 5px;
        }
    }
    .after {
        .loading {
            margin-left: 5px;
        }
    }
}

.inline-input {
    display: inline-block;
    float: left;
    margin: 0;
    .input {
        padding: 7px 10px 7px 10px;
    }
}